{{#if user}}
<<<<<<< HEAD:views/employer/employer.hbs
    <h1>Welcome employer {{user.username}} </h1>
  <form action='/employer/logout' method="POST">
    <button>Logout</button>
  </form>
=======

<h3>Welcome recruiter {{user.username}} </h3>
<form action='/users/logout' method="POST">
  <button>Logout</button>
</form>
>>>>>>> 695765619098e1e1b77aa253fda447a31c8d313c:views/users/employer.hbs


{{else }}
<br>
<p>Please log in to show this page!</p>
{{/if}}