 <title>Job Post</title>
<div class="form-container">

   <form action="/employer/createJobPost" method="POST" class="the-form">
      <label> Job title
         <input type="text" name="jobTitle" autofocus >
      </label>
      <label> Company
         <input type="text" name="company" value="{{user.company}}">
      </label>
      <label> Salary
         <input type="number" name="salary" min="0" step="10000">
      </label>
      <label> Location
         <input type="text" name="location">
      </label>
 <label> Description
<textarea rows="4" cols="50" name ="description" class="create-post-text-area">
</textarea>
 </label>
      <button>Create</button>
   </form>
   <a href="dashboard" class="back-link">back </a>

</div>