

{{#each user.jobs}}
<form action="/employer/{{this._id}}/delete"  method="POST">
<textarea  rows="10" cols="50" >
{{this.jobTitle}}
{{this.company}}
</textarea>
      <button>Delete</button>
    </form>
{{/each}}

<br>
<a href="home">back</a>
