<a href="/" class="back-link">back</a>
<div class="form-container">
   <h2>Log in as an Employer</h2>
   <a href="/employer/signup" class="signup-link">Don't have an account? sign up</a>
   <form action="/employer/login" method="POST" class="the-form" id="login-form">
      <label> email
         <input type="text" name="email">
      </label>
      <label> Password
         <input type="password" name="password">
      </label>

      <button type="submit">Submit</button>
      {{#if errorMessage}}
      <p class="login-error">{{errorMessage}}</p>
      {{/if}}
   </form>

</div>