<a href="/" class="back-link">back</a>
<div class="form-container">
  <h2>Sign up as an Employer</h2>


  <a href="/employer/login" class="login-link">Already have an account? login</a>
  <form action="/employer/signup" method="POST" class="the-form">

    <label> Firstname
      <input type="text" name="firstname" placeholder="firstname" required>
    </label>

    <label> Lastname
      <input type="text" name="lastname" placeholder="lastname" required>
    </label>

    <label> Email
      <input type="email" name="email" placeholder="email" required>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required>
    </label>


    <button type="submit">Create</button>


    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>


</div>