 <title>Employer Sign Up</title>
<a href="/" class="back-link">back</a>
<div class="form-container">
  <h2>Sign up as an Employer</h2>


  <a href="/employer/login" class="login-link">Already have an account? login</a>
  <form action="/employer/signup" method="POST" class="the-form">
   
    <label> First name
      <input type="text" name="firstname" placeholder="John" required>
    </label>

    <label> Last name
      <input type="text" name="lastname" placeholder="Doe" required>
    </label>

    <label> Company Name:
      <input type="text" name="company" placeholder="Company, Inc" required>
    </label>

    <label> Email
      <input type="email" name="email" placeholder="jane@company.com" required>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required>
    </label>


    <button type="submit">Create</button>


    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>


</div>