<div class="para-container">
    <h1 class="about-page">About Tech job Board</h1>

    <p class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto labore deleniti,
        quo,
        distinctio consectetur facere culpa temporibus nulla sit sapiente dolores corrupti minima voluptates aliquid
        aperiam
        fugiat voluptatum error. Eius aliquam consequatur aperiam, esse sed nihil ipsam cum perferendis quas odit
        obcaecati
        rem incidunt eaque? A, quas nobis. Quibusdam dolor, iure expedita adipisci, fugit eum atque praesentium deleniti
        aliquam, minima eos rerum! Alias, dicta hic placeat laudantium, consectetur id repudiandae voluptatum, cum
        delectus
        excepturi autem quod laborum facilis veritatis provident porro. Blanditiis, sint. Asperiores magnam fugit
        necessitatibus, fuga ab accusamus veniam qui alias. Omnis quaerat nisi a Minima.</p>

    <p class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto labore deleniti,
        quo,
        distinctio consectetur facere culpa temporibus nulla sit sapiente dolores corrupti minima voluptates aliquid
        aperiam
        fugiat voluptatum error. Eius aliquam consequatur aperiam, esse sed nihil ipsam cum perferendis quas odit
        obcaecati
        rem incidunt eaque? A, quas nobis. Quibusdam dolor, iure expedita adipisci, fugit eum atque praesentium deleniti
        aliquam, minima eos rerum! Alias, dicta hic placeat laudantium, consectetur id repudiandae voluptatum, cum
        delectus
        excepturi autem quod laborum facilis veritatis provident porro. Blanditiis, sint. Asperiores magnam fugit
        necessitatibus, fuga ab accusamus veniam qui alias. Omnis quaerat nisi a Minima.</p>
    <p class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto labore deleniti,
        quo,
        distinctio consectetur facere culpa temporibus nulla sit sapiente dolores corrupti minima voluptates aliquid
        aperiam
        fugiat voluptatum error. Eius aliquam consequatur aperiam, esse sed nihil ipsam cum perferendis quas odit
        obcaecati
        rem incidunt eaque? A, quas nobis. Quibusdam dolor, iure expedita adipisci, fugit eum atque praesentium deleniti
        aliquam, minima eos rerum! Alias, dicta hic placeat laudantium, consectetur id repudiandae voluptatum, cum
        delectus
        excepturi autem quod laborum facilis veritatis provident porro. Blanditiis, sint. Asperiores magnam fugit
        necessitatibus, fuga ab accusamus veniam qui alias. Omnis quaerat nisi a Minima.</p>
    <p class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto labore deleniti,
        quo,
        distinctio consectetur facere culpa temporibus nulla sit sapiente dolores corrupti minima voluptates aliquid
        aperiam
        fugiat voluptatum error. Eius aliquam consequatur aperiam, esse sed nihil ipsam cum perferendis quas odit
        obcaecati
        rem incidunt eaque? A, quas nobis. Quibusdam dolor, iure expedita adipisci, fugit eum atque praesentium deleniti
        aliquam, minima eos rerum! Alias, dicta hic placeat laudantium, consectetur id repudiandae voluptatum, cum
        delectus
        excepturi autem quod laborum facilis veritatis provident porro. Blanditiis, sint. Asperiores magnam fugit
        necessitatibus, fuga ab accusamus veniam qui alias. Omnis quaerat nisi a Minima.</p>
    <p class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto labore deleniti,
        quo,
        distinctio consectetur facere culpa temporibus nulla sit sapiente dolores corrupti minima voluptates aliquid
        aperiam
        fugiat voluptatum error. Eius aliquam consequatur aperiam, esse sed nihil ipsam cum perferendis quas odit
        obcaecati
        rem incidunt eaque? A, quas nobis. Quibusdam dolor, iure expedita adipisci, fugit eum atque praesentium deleniti
        aliquam, minima eos rerum! Alias, dicta hic placeat laudantium, consectetur id repudiandae voluptatum, cum
        delectus
        excepturi autem quod laborum facilis veritatis provident porro. Blanditiis, sint. Asperiores magnam fugit
        necessitatibus, fuga ab accusamus veniam qui alias. Omnis quaerat nisi a Minima.</p>

    <a href="/" class="back-link">back</a>
</div>