<section id="job-search-section">

    <form action="/jobs/search" method="GET">
        <input type="text" name="q" placeholder="Job title or company" id="search-input-field">
        <button type="submit" class="job-search-btn">Search Jobs</button>
    </form>
</section>