    <title>{{title}}</title>

<div id="job-search-section">

    <form action="/jobs/search" method="GET">
        <input type="text" name="q" placeholder="Job title or keyword" id="search-input-field">
        <button type="submit" class="job-search-btn">Search Jobs</button>
    </form>
</div>
    <title>{{123}}</title>