<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>


<body>
  <nav>

    <h3 id="company-name" class="nav-link">
      <li>Tech Job Board</li>
    </h3>
    <ul>
      <a href="employer/signup" class="nav-link">
        <li>sign up as employer</li>
      </a>

      <a href="developer/signup" class="nav-link">
        <li>sign up as developer</li>
      </a>

      <a href="employer/signup" class="nav-link">
        <li>sign in as employer</li>
      </a>

      <a href="developer/signup" class="nav-link">
        <li>sign in as developer</li>
      </a>

      <a href="/" class="nav-link">
        <li>Home</li>
      </a>


    </ul>
  </nav>



  {{{body}}}


  <footer>
    <ul>
      <a href="#" class="footer-link">
        <li>About Us</li>
      </a>
      <a href="#" class="footer-link">
        <li>Service</li>
      </a>
      <a href="#" class="footer-link">
        <li>Contact</li>
      </a>
    </ul>
    <p id="copy-right">Tech Job Board, inc. &copy; 2022 All Rights Reserved Worldwide</p>
  </footer>

  <script src="/js/script.js"></script>
</body>

</html>