<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav>

    <h3 id="company-name">Tech Job Board</h3>
    <ul>
      <a href="/" class="nav-link">
        <li>Home</li>
      </a>
      <a href="/users/signup" class="nav-link">
        <li>Signup</li>
      </a>
      <a href="/users/login" class="nav-link">
        <li>Login</li>
      </a>

    </ul>
  </nav>
  <section id="job-search-section">

    <form action="/jobs/search" method="GET">
      <input type="text" name="jobTitle" name="company" placeholder="Job title or company" id="search-input-field">
      <button type="submit" class="job-search-btn">Search Jobs</button>
    </form>
  </section>

  <footer>
    <ul>
      <a href="#" class="footer-link">
        <li>About Us</li>
      </a>
      <a href="#" class="footer-link">
        <li>Service</li>
      </a>
      <a href="#" class="footer-link">
        <li>Contact</li>
      </a>
    </ul>
    <p id="copy-right">Tech Job Board, inc. &copy; 2022 All Rights Reserved Worldwide</p>
  </footer>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>