<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>


<body>
  <nav>

    <h3 id="company-name">
      <a href="/" id="logo">Tech Job Board</a>
    </h3>

    <ul>
      <li>
        <a href="/" class="nav-link">Home</a>
      </li>

      <li>
        <a href="/about" class="nav-link">About</a>
      </li>

      <li>
        <a href="/service" class="nav-link">Service</a>
      </li>

      
      <li class="dropdown">
        <button class="drop-btn">Developer</button>
        <div class="dropdown-content">
          <a href="/developer/signup">Sign up</a>
          <a href="/developer/login">Sign in</a>
        </div>
      </li>

      <li class="dropdown">
        <button class="drop-btn" id="employer-dropdown">Employer</button>
        <div class="dropdown-content">
          <a href="/employer/signup">Sign up</a>
          <a href="/employer/login">Sign in</a>
        </div>
      </li>

    </ul>
  </nav>





  {{{body}}}




</html>




{{!-- <footer>
  <ul>
    <a href="/about" class="footer-link">
      <li>About</li>
    </a>
    <a href="/service" class="footer-link">
      <li>Service</li>
    </a>
    <a href="#" class="footer-link">
      <li>Contact</li>
    </a>
  </ul>
  <p id="copy-right">Tech Job Board, inc. &copy; 2022 All Rights Reserved Worldwide</p>
</footer>

<script src="/js/script.js"></script>
</body> --}}