<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/a0845a7593.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav>

        <h3 id="company-name">
            <a href="/" id="logo">Tech Job Board</a>
        </h3>

        <ul>
            <li>
                <a href="/" class="nav-link">Home</a>
            </li>

            <li>
                <a href="/about" class="nav-link">Profile</a>
            </li>

            <li>
                <a href="/service" class="nav-link">logout</a>
            </li>


        </ul>
    </nav>