 <title>Profile</title>
{{#if user}}
<div class="dashboard-page">
  <h2 class="dashboard-welcome-message">Welcome, {{user.firstname}} </h2>

  <a href="/developer/createResume" class="create-resume-link">View - Edit Resume</a>

  <form action="/developer/dashboard/{{user._id}}/delete " method="POST">
    <button type="submit" class="delete-account-btn">Delete account</button>
  </form>


  {{else }}
  <br>
  <h3 class="para-message">Please log in to view or edit your resume!</h3>
  {{/if}}

</div>