{{#if user}}
<form action='/developer/logout' method="POST">
  <button class="logout-btn">Logout</button>
</form>

<div class="dashboard-page">
  <h2 class="dashboard-welcome-message">Welcome, {{user.firstname}} </h2>

  <a href="/developer/createResume" class="create-resume-link">View - Edit Resume</a>

  {{else }}
  <br>
  <p>Please log in to show this page!</p>
  {{/if}}

</div>