<a href="/" class="back-link">back</a>
<div class="form-container">
   <h2> Log in</h2>
   <form action="/developer/login" method="POST" class="the-form" id="login-form">
      <label> Email
         <input type="text" name="email">
      </label>
      <label> Password
         <input type="password" name="password">
      </label>

      <button type="submit">Submit</button>
      {{#if errorMessage}}
      <p class="login-error">{{errorMessage}}</p>
      {{/if}}
   </form>

</div>