
{{#if user}}
    <h1>Welcome, {{user.firstname}} </h1>
  <form action='/developer/logout' method="POST">
    <button>Logout</button>
  </form>

<label> Resume</label>
<div class="form-container">
<form  action="/developer/createResume" method="POST" class="the-form">
<textarea  name="resume" rows="10" cols="50" >
{{#if user.resume}}
{{user.resume}}
{{else}}
Full name:
Job:
Education:
Skills:
Contact number:
{{/if}}
</textarea>
<button>Save</button>
</form>

<a href="/developer/dashboard">back</a>

{{else }}
  <br><p>Please log in to show this page!</p>
{{/if}}