
<div>
   <h2>Signup</h2>
  <form action="/developer/signup" method="POST">

    <label> Firstname
      <input type="text" name="firstname" placeholder="firstname" required> 
    </label>

    <label> Lastname
      <input type="text" name="lastname" placeholder="lastname" required> 
    </label>

    <label> Email
      <input type="email" name="email" placeholder="email" required> 
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required> 
    </label>

    <button type="submit">Create</button>
    <br>
<a href="/">back</a>
{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </form>
</div>
