{{#if user}}

<h3>Welcome recruiter {{user.username}} </h3>
<form action='/users/logout' method="POST">
  <button>Logout</button>
</form>


{{else }}
<br>
<p>Please log in to show this page!</p>
{{/if}}